numpy
absl-py
tensorflow
tensorflow-gnn
tf-keras
apache-beam[gcp]
graphviz
jax
flax
dataclasses-json
tqdm
bagz
dacite
google-cloud-spanner
google-api-core
google-cloud-storage
sparse-deferred
numba
tabulate
matplotlib
fsspec[gcs]
clu
orbax
frozendict
chex
etils
jaxtyping
altair
jinja2
reportlab
mmh3
google-api-core
pandas
PyYAML
tensorboard
immutabledict
networkx
pyarrow
fastavro
datasketch
